.frame-child {
  height: 193px;
  width: 197px;
  position: relative;
  object-fit: cover;
}
.ai-based-nutritional,
.welcomes-you {
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
}
.welcomes-you {
  margin: 0 !important;
  height: 73px;
  width: 475px;
  position: absolute;
  right: 32.41px;
  bottom: -39px;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(0.46deg);
  transform-origin: 0 0;
}
.ai-based-nutritional {
  margin: 0;
  position: relative;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.text-planner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 182px;
  max-width: 100%;
  font-size: var(--font-size-17xl);
}
.frame-about-us-child {
  height: 2px;
  width: 603px;
  position: absolute;
  margin: 0 !important;
  top: 71.5px;
  right: -14px;
  object-fit: contain;
  z-index: 1;
}
.frame-about-us {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 374px;
  max-width: 100%;
}
.sign-in,
.sign-up {
  height: 83px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.sign-in {
  width: 147px;
}
.sign-up {
  align-self: stretch;
}
.text-sign-up {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 0;
  margin-left: -19px;
}
.about-us {
  height: 83px;
  width: 147px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  margin-left: -19px;
}
.sign-in-about-us-frame {
  width: 422px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.frame-sign-in,
.rectangle-parent,
.sign-in-about-us-frame {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-sign-in {
  width: 1012px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 14px;
}
.rectangle-parent {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.heading-quality-assurance-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-seagreen);
  font-family: var(--font-inknut-antiqua);
}
.hello-user-how {
  margin: 0;
  height: 99px;
  width: 973px;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
  max-width: 100%;
  z-index: 1;
}
.text-hello-user {
  width: 1065px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-29xl);
  color: var(--color-seagreen);
}
.i-am-an,
.text-iam-an-a-i {
  position: relative;
  max-width: 100%;
}
.text-iam-an-a-i {
  height: 499px;
  flex: 1;
  overflow: hidden;
  object-fit: cover;
  min-width: 489px;
}
.i-am-an {
  margin: 0;
  height: 103px;
  width: 580px;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  min-width: 580px;
}
.rectangle-a-i {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0 94px;
  max-width: 100%;
}
.i-am {
  white-space: pre-wrap;
}
.and-personalized,
.and-your-diet,
.approach-to-manage,
.i-am,
.you-with-a,
.your-nutrition {
  margin: 0;
}
.i-am-designed-container {
  margin: 0 !important;
  height: 482px;
  width: 527px;
  position: absolute;
  top: -421px;
  right: -284px;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.and-get-your,
.to-know-more {
  margin: 0;
}
.to-know-more-container {
  margin: 0;
  position: relative;
  font-size: var(--font-size-17xl);
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  z-index: 2;
}
.a-i-identity,
.i-am-designed-to-provide-you-w-parent {
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.i-am-designed-to-provide-you-w-parent {
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.a-i-identity {
  width: 949px;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.a-i-identity,
.frame-user-info,
.header-frame {
  display: flex;
  justify-content: flex-start;
}
.frame-user-info {
  width: 1427px;
  flex-direction: column;
  align-items: center;
  max-width: 102%;
  flex-shrink: 0;
}
.header-frame {
  width: 1405px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inknut-antiqua);
}
.heading-quality-assurance,
.home-page {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.heading-quality-assurance {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lgi) 0 0 var(--padding-mini);
  gap: 20px 0;
  max-width: 100%;
}
.home-page {
  width: 100%;
  position: relative;
  background: linear-gradient(
    180deg,
    #68d573,
    rgba(255, 255, 255, 0.82) 0.01%,
    rgba(175, 221, 180, 0.82) 0.02%,
    rgba(172, 220, 176, 0.82) 25%,
    rgba(5, 149, 19, 0.8) 99.99%,
    rgba(100, 206, 111, 0)
  );
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1px var(--padding-7xs) 0 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1250px) {
  .rectangle-parent {
    flex-wrap: wrap;
  }
  .i-am-an {
    flex: 1;
  }
  .rectangle-a-i {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .frame-sign-in {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .welcomes-you {
    font-size: 26px;
  }
  .ai-based-nutritional {
    font-size: var(--font-size-10xl);
  }
  .hello-user-how {
    font-size: var(--font-size-19xl);
  }
  .i-am-an,
  .text-iam-an-a-i {
    min-width: 100%;
  }
  .i-am-an {
    font-size: var(--font-size-5xl);
  }
  .rectangle-a-i {
    gap: 0 94px;
  }
  .i-am-designed-container {
    font-size: var(--font-size-5xl);
  }
  .to-know-more-container {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 450px) {
  .welcomes-you {
    font-size: 19px;
  }
  .ai-based-nutritional {
    font-size: var(--font-size-3xl);
  }
  .frame-about-us {
    min-width: 100%;
  }
  .sign-in-about-us-frame {
    display: none;
  }
  .frame-sign-in {
    width: 590px;
  }
  .hello-user-how {
    font-size: var(--font-size-10xl);
  }
  .i-am-an {
    font-size: var(--font-size-lg);
  }
  .rectangle-a-i {
    gap: 0 94px;
  }
  .i-am-designed-container {
    font-size: var(--font-size-lg);
  }
  .to-know-more-container {
    font-size: var(--font-size-3xl);
  }
}
